.main-container{
  padding: 20px;
}
.title {
  display: flex;
  margin: 10px 0px;
}
.title button {
    margin-left: auto;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td, button {
  margin-right: 2px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}